<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>

<div class="jumbotron">
	
	<p>Contact Us @ </p>
	<br>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Fadil</h3>
	  </div>

	  <div class="panel-body">
	    Contact: 018-2060472
	  </div>
	  <div class="panel-body">
	    Email: fadil.parves@gmail.com
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Mac</h3>
	  </div>

	  <div class="panel-body">
	    Contact: 016-5579595
	  </div>
	  <div class="panel-body">
	    Email: yxshu94@gmail.com
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Uzair</h3>
	  </div>

	  <div class="panel-body">
	    Contact: 019-3656024
	  </div>
	  <div class="panel-body">
	    Email: mr.shezel@gmail.com
	  </div>
	</div>
</div>