<% provide(:title, "Help") %>

<h1>Help</h1>
<div class="jumbotron">

  <div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">Frequently asked questions (FAQs):</div>
    <div class="panel-body">
      Have questions? No Problem, browse through our FAQs :) <br><br>
    </div>

  <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">1. What is CarServIt?</li>
      <li class="list-group-item">CarServIt is an online reservation application that designed for car workshop to manage reservation. <br><br><br></li>

      <li class="list-group-item">2. Is there there any charges to use CarServIt?</li>
      <li class="list-group-item">Nope, CarServIt is free to use. <br><br><br></li>

      <li class="list-group-item">3. How do I change my password? </li>
      <li class="list-group-item">In settings. <br><br><br></li>
    </ul>
  </div>
</div>
