<% provide(:title, 'All reservation') %>
<h1>All Reservation</h1>

<ul class="reserved">
  <% @reservation.each do |reservation| %>
    <li>
      <%= link_to reservation.name, reservation %>
    </li>
  <% end %>
</ul>
