<% provide(:title, 'All reservation') %>
<h1>All users</h1>

<ul class="users">
  <% @reservations.each do |reservation| %>
    <li>
      <%= link_to reservation.name, reservation %>
    </li>
  <% end %>
</ul>
