@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.btn-default {
  background-color: white;
  color: black;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}

/* Landing Page Body */

.main-body-container{
  background-color: transparentize(grey, 0.9);
}

.main_header {
  background-image: image-url('landing-page.jpg');
  background-position: center center;
  color: white;
  display:block;
  overflow:auto;
}

.header-small-sec {
  color: black;
  background-color: transparentize(white, 0.4);
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.workshop-header {
  background-color: transparentize(black,0.3);
  color: white;

}
/* Landing Page Section Heading */

.section-sizing{
  height: 600px;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: none;
    color:black;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

/* Landing Page Section Propoerties */

.service-prop {
  background-color: transparentize(black, 0.8);
  line-height: 2;
}

.user-friendly-prop {
  background-color: transparentize(blue, 0.5);
  color: white;
  line-height: 2;
}

.computerized-prop {
  background-color: transparentize(orange, 0.5);
  color: white;
  line-height: 2;
}

.notification-prop {
  background-color: transparentize(green, 0.5);
  color: white;
  line-height: 2;
}

.signup-prop {
  background-color: transparentize(red, 0.5);
  color: white;
  line-height: 2;
}

.subscribe-prop {
  background-color: transparentize(yellow, 0.5);
  line-height: 2;
}

#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: white;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
text-decoration: none;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

/* footer */

footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid $gray-medium-light;
color: $gray-light;
  a {
  color: $gray;
    &:hover {
    color: $gray-darker;
    }
  }
    small {
    float: left;
    }
    ul {
    float: right;
    list-style: none;
      li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*misc*/
.debug_dump{

  clear:both;
  float:left;
  width:100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
section.user_info {
  margin-top: 20px;
  }
section {
  padding: 10px 0;
  margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      }
    }
  }
.gravatar {
  float: left;
  margin-right: 10px;
 }

.gravatar_edit{
  margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}

#error_explanation {
  color: red;
  ul {
  color: red;
  margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
  color: $state-danger-text;
  }
}

.checkbox {
  margin-top:-10px;
  margin-bottom:10px;
  span{
    margin-left:20px;
    font-weight:normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left:0;
}

/*reservation index*/

.reserved {
  list-style:none;
  margin:0;
  li{
    overflow:auto;
    padding:10px 0;
    border-bottom:1px solid $gray-lighter;
  }
}

.no-repeat-header{
  padding-right: 12px !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}
