<% provide(:title, "Reports") %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <div class="center jumbotron">
    <h2>Reservation Report</h2>

    <br>
    <!--this line creates the gant chart-->
    <%= column_chart Reservation.group_by_month(:created_at) %>

    <br>
    <!--this line creates the chart-->
    <%= pie_chart Reservation.group(:service_type).count %>

    <br>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
